* {
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100svh;
}

img {
    display: block;
    max-width: 100%;
    padding: 10px
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

h1 {
    text-align: center;
}

h2 {
    font-family: "Bangers",sans-serif;
}

p {
    line-height: 1.5;
    letter-spacing: .6px;
    font-size: 16px;
}

h1,h3,p {
    font-family: Arial, Helvetica, sans-serif;
}



.hero_cards{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

}

.img_container{
    display: grid;
    place-items: center;
}

.card_container{
    background-color: rgb(12, 12, 12);
    color: rgb(239, 235, 230);
    display:flex;
    max-width: 500px;
    border-radius: 10px;
}

.details_container{
    padding: 30px;
}

.card_details{
    display: flex;
    text-align: center;
    gap: 40px;
    margin-block: 20px;

}

.label,
.occupation{
    color: red;

}